@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

.header {
    height: 9vh;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.scroll_watcher {
    height: 5px;
    width: 100%;
    background-color: #23e851;
    animation: scroll linear;
    animation-timeline: scroll();
    position: sticky;
    top: 9vh;
    scale: 0 1;
    z-index: 9;
}

@keyframes scroll {
    to {
        scale: 1 1;
    }
}

main {
    background-image: url(\polygon-scatter-haikei.png);
}

.nav {
    height: inherit;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 50%;
}

.logo img {
    height: 8vh;
    width: 4.29vw;
    position: relative;
    right: 7vw;
    transition: all 1s ease-in-out;
}

.logo img:hover {
    transform: scale(1.1);
}

.nav .logo h1 a {
    color: rgb(225, 241, 255);
    font-weight: bolder;
    position: relative;
    right: 6vw;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.nav #dot {
    display: none;
}

.nav #x_mark {
    display: none;
}

.nav .logo h1 a:hover {
    background-image: linear-gradient(90deg, #41c1fe, #ffa25d);
    background-clip: text;
    color: transparent;
}

.nav ul {
    height: inherit;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1vw;
}

ul li {
    display: inline-block;
    position: relative;
    list-style: none;
    height: 5vh;
    width: 7vw;
    text-align: center;
    margin-right: 10px;
    transition: 0.2s ease-in-out;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
    display: block;
    position: relative;
    top: 1.4vh;
}

ul li a i {
    padding-right: 5px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: max-content;
    position: absolute;
    display: none;
    z-index: 11;
    top: 5vh;
    right: -1vw;
    padding-left: 2.5vw;
    height: max-content;
    padding-bottom: 1vh;
    border-radius: 7px;
    padding-top: 3vh;
    padding-right: 1.5vw;
    transition: all 0.5s ease-in-out;
    height: 25vh;
}

ul li:hover {
    background-color: rgba(240, 12, 12, 0.87);
    backdrop-filter: transparent;
    box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.8);
    border: 1px solid rgb(108, 108, 108);
    border-radius: 7px;
    transform: scale(1.1);
    font-weight: bold;
}

ul li:hover ul.dropdown {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
}


.sec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
    width: 98vw;
}

.sec .img {
    height: inherit;
    width: calc(100vw / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.8;
    z-index: 8;
    transition: all ease-in-out;
}

.img #about_name {
    height: 18vh;
    width: 34vw;
    object-fit: cover;
    position: absolute;
    left: 4vw;
    top: 0vh;
    opacity: 0;
    z-index: 1;
    border-radius: 10px;
    border: 4px solid #f67e24;
    transition:all 1s ease-in-out;
    animation: about_name_animation 2s linear forwards;
}

.img #about_name:hover{
    z-index: 4;
    height: 26vh;
    width: 40vw;
    right: 0vw;
    left: 0vw;
}

@keyframes about_name_animation {
    from{
        opacity: 0;
        scale: 0.8;
        transform: translate(-60vw);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translate(0vw);
    }
}

.img #photo_1 {
    height: 29vh;
    width: 24vw;
    object-fit: cover;
    position: absolute;
    right: 11vw;
    top: 12vh;
    opacity: 0;
    z-index: 1;
    border-radius: 10px;
    border: 4px solid #fffa00;
    transition: all 1s ease-in-out;
    animation: photo_1_animation 2s 2s linear forwards;
}

.img #photo_1:hover{
    z-index: 4;
    height: 50vh;
    width: 31vw;
    right: 4vw;
}

@keyframes photo_1_animation {
    from{
        opacity: 0;
        scale: 0.8;
        transform: translate(-60vw);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translate(0vw);
    }
}

.img #photo_2 {
    height: 31vh;
    width: 21vw;
    object-fit: cover;
    position: absolute;
    right: 12vw;
    top: 42vh;
    opacity: 0;
    z-index: 2;
    border-radius: 10px;
    border: 4px solid #f1005a;
    transition:all 1s ease-in-out;
    animation: photo_2_animation 2s 3s linear forwards;
}

.img #photo_2:hover{
    z-index: 4;
    height: 50vh;
    width: 31vw;
    right: 4vw;
}

@keyframes photo_2_animation  {
    from{
        opacity: 0;
        scale: 0.8;
        transform: translate(-60vw);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translate(0vw);
    }
}

.img #photo_3 {
    height: 32vh;
    width: 25vw;
    object-fit: cover;
    position: absolute;
    right: -8vw;
    top: 53vh;
    opacity: 0;
    z-index: 3;
    border-radius: 10px;
    border: 4px solid #24f66c;
    transition:all 1s ease-in-out;
    animation: photo_3_animation 2s 5s linear forwards;
}

.img #photo_3:hover{
    z-index: 4;
    height: 45vh;
    width: 33vw;
    right: -14vw;
}

@keyframes photo_3_animation  {
    from{
        opacity: 0;
        scale: 0.8;
        transform: translate(-60vw);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translate(0vw);
    }
}

.img #photo_4 {
    height: 33vh;
    width: 24vw;
    object-fit: cover;
    position: absolute;
    left: 19vw;
    top: 19vh;
    opacity: 0;
    z-index: 1;
    border-radius: 10px;
    border: 4px solid #12daff;
    transition:all 1s ease-in-out;
    animation: photo_4_animation 2s 7s linear forwards;
}

.img #photo_4:hover{
    z-index: 4;
    height: 50vh;
    width: 31vw;
    right: 4vw;
}

@keyframes photo_4_animation  {
    from{
        opacity: 0;
        scale: 0.8;
        transform: translate(-60vw);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translate(0vw);
    }
}

.sec .about {
    height: inherit;
    width: calc(100vw - calc(100vw / 3));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
    line-height: 1.5;
    padding-left: 11vw;
    padding-right: 2vw;
}

footer {
    height: 17vh;
    width: auto;
    color: white;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30vw;
}

footer #copyright {
    position: relative;
    right: 15vw;
}

footer p {
    position: relative;
    right: 0.7vw;
}

footer #copyright p {
    position: relative;
    right: 0vh;
}

footer #copyright h1 {
    font-size: 21px;
}

footer img {
    height: 14vh;
    width: 7vw;
    position: absolute;
    left: 44vw;
    bottom: -3vh;
    transition: all 1s ease-in-out;
}

footer img:hover {
    cursor: pointer;
    scale: 1.1;

}

footer .dev_info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 14vw;
    top: 1vh;
}

footer .dev_info h1 {
    font-size: large;
}

footer .dev_info .link {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 4vh;
    position: relative;
    bottom: 1vh;
    font-size: 24px;
}

footer .dev_info .link a {
    text-decoration: none;
    text-decoration: none;
    color: cornflowerblue;
    transition: all 0.2s ease-in-out;
}

footer .dev_info .link a:hover {
    transform: scale(1.3);
}

footer .dev_info .link #instagram:hover {
    background-image: linear-gradient(45deg, #8319f8, #fc1b6f);
    background-clip: text;
    color: transparent;
}

footer .dev_info .link #facebook:hover {
    color: #0866ff;
}

footer .dev_info .link #discord:hover {
    color: #4d16ce;
}

footer .dev_info .link #whatsapp:hover {
    color: #23e86b;
}

@media screen and (max-width: 576px) {

    .scroll_watcher {
        height: 3px;
        background-color: #0fee43;
    }

    .nav #dot {
        display: block;
        position: relative;
        top: 0vh;
        right: 5vw;
        font-size: 22px;
        color: azure;
        visibility: visible;
        transform: rotateX('360deg');
    }

    .nav #x_mark {
        display: block;
        position: absolute;
        top: 3vh;
        right: 7vw;
        font-size: 22px;
        color: azure;
        visibility: hidden;
        text-align: center;
    }

    .nav .list_items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 9vh;
        right: 1vh;
        height: 25vh;
        width: 50vw;
        padding: 2vh 0vw;
        background-color: #00a8ff;
        border-radius: 0px 0px 12px 12px;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
        overflow: hidden;
    }

    .nav {
        height: 9vh;
    }

    .nav h1 {
        font-size: 18px;
        z-index: 5;
        position: relative;
        left: 12vw;
    }

    .nav .logo h1 a {
        background-image: linear-gradient(90deg, #41c1fe, #ffa25d);
        background-clip: text;
        color: transparent;
        font-variant: petite-caps;
        font-family: system-ui;
    }

    .nav ul li {
        position: relative;
        width: inherit;
        font-size: 10px;
        font-weight: bolder;
        box-shadow: none;
        border: 0px;
    }

    .nav ul li ul.dropdown {
        display: none;
    }

    .nav ul li:hover {
        background-color: rgba(79, 79, 79, 0.689);
        box-shadow: none;
    }

    .nav ul li a {
        padding-top: 0vh;
    }

    .nav ul {
        width: 10vw;
        flex-wrap: wrap;
    }

    .nav .logo {
        display: flex;
        height: max-content;
        width: 90vw;
        justify-content: flex-start;
        align-items: center;
    }

    .nav .logo a img {
        position: relative;
        left: 4vw;
        width: 17vw;
        height: 8vh;
    }

    .sec {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 150vh;
        width: 100vw;
        padding-bottom: 5vh ;
    }
    
    .sec .img {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img #about_name {
        height: 19vh;
        width: 102vw;
        object-fit: cover;
        position: absolute;
        left: -1vw;
        top: 0vh;
        z-index: 1;
        border-radius: 10px;
    }

    .img #about_name:hover {
        z-index: 4;
        height: 23vh;
        width: 112vw;
        left: -4vw;
    }

    .img #photo_1 {
        height: 27vh;
        width: 55vw;
        object-fit: cover;
        position: absolute;
        right: 45vw;
        top: 18vh;
        z-index: 3;
        border-radius: 10px;
    }

    .img #photo_1:hover {
        z-index: 5;
        height: 32vh;
        width: 93vw;
        right: 9vw;
    }

    .img #photo_2 {
        height: 27vh;
        width: 73vw;
        object-fit: cover;
        position: absolute;
        right: -5vw;
        top: 11vh;
        z-index: 1;
        border-radius: 10px;
    }

    .img #photo_2:hover {
        z-index: 5;
        height: 34vh;
        width: 90vw;
        right: -6vw;
    }

    .img #photo_3 {
        height: 22vh;
        width: 60vw;
        object-fit: cover;
        position: absolute;
        right: -3vw;
        top: 37vh;
        z-index: 4;
        border-radius: 10px;
    }

    .img #photo_3:hover {
        z-index: 5;
        height: 32vh;
        width: 86vw;
        right: -9vw;
        top: 28vh;
    }

    .img #photo_4 {
        height: 21vh;
        width: 56vw;
        object-fit: cover;
        position: absolute;
        left: -5vw;
        top: 37vh;
        z-index: 4;
        border-radius: 10px;
    }

    .img #photo_4:hover {
        z-index: 5;
        height: 30vh;
        width: 86vw;
        right: 4vw;
        top: 30vh;
    }
    
    .sec .about {
        height: 90vh;
        width: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: small;
        line-height: 1.5;
        padding-left: 8vw;
        padding-right: 5vw;
    } 

    footer {
        height: 18vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    footer #copyright {
        left: 7vw;
        height: initial;
        width: fit-content;
        top: 4vh;
    }

    footer #copyright p {
        font-size: small;
        position: absolute;
        display: block;
        width: max-content;
        left: 0vw;
        top: 0vh;
    }

    footer #copyright h1 {
        font-size: 4vw;
        position: absolute;
        display: block;
        width: max-content;
        right: -28vw;
        bottom: 3vw;
    }

    footer img {
        height: 8vh;
        width: 17vw;
        bottom: 4vh;
        left: -16vw;
    }

    footer .dev_info {
        height: initial;
        width: 39vw;
        justify-content: center;
        align-items: center;
        right: 0vw;
        left: 10vw;
        top: -4vw;
    }

    footer .dev_info h1 {
        font-size: 13px;
        display: block;
        width: max-content;
        position: relative;
        top: 1vh;
        right: 0vw;
        left: 3vw;
    }

    footer .dev_info p {
        display: block;
        height: fit-content;
        width: max-content;
        position: relative;
        font-size: small;
        left: 3vw;
        top: 1vh;
    }

    footer .dev_info .link {
        gap: 4vw;
        top: 0vh;
        left: 3vw;
    }
}